[current]
spectrum = ${spectrum}
base.folder = ${basefolder}
spectrum.folder = ${screensize}
screen.width = ${screenwidth}
screen.height = ${screenheight}
update.period = 10
max.value = 100
pipe.name = /tmp/peppy_spectrum_fifo
size = ${spectrumsize}
update.ui.interval = 0.04
frame.rate = 25
depth = 32
exit.on.touch = True
use.logging = ${debuglog}
use.test.data =

[sdl.env]
framebuffer.device = /dev/fb0
mouse.device = /dev/input/event0
mouse.driver = TSLIB
mouse.enabled = False
video.driver = dummy
video.display = :0
double.buffer = True
no.frame = True

[CircularSpectrum]
type = circular
line_width = ${circle_line_width}
glow_intensity = ${circle_glow_intensity}
fill_opacity = ${circle_fill_opacity}
interpolation_points = ${circle_interpolation_points}
vignette_strength = ${circle_vignette_strength}
render_quality = ${circle_render_quality}
origin.x = ${screenwidth}
origin.y = ${screenheight}
circle.radius = 150
circle.start_angle = 0
circle.end_angle = 360
circle.smoothing = 0.2
bar.width = 15
bar.height = 710
circle.line_width = 2
circle.glow_intensity = 40 
circle.fill_opacity = 40
circle.interpolation_points = 30
circle.vignette_strength = 255
circle.render_quality = 4